<div class="vh-loader" id="vh-loader">
  <img src="/img/brand/villa-happ-logo.png" alt="" class="vh-loader-logo" width="56" height="56" />
  <div class="vh-loader-bar"><span></span></div>
  <p class="vh-loader-text">Est. 1960 · Tilburg</p>
</div>
